table,
tr,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
}

.number {
    text-align: center;
}

.diceBlocks {
    display: flex;
    font-size: 40px;
}

.diceBlocks > div {
    cursor: pointer;
}

.diceBlocks > div:hover {
    color: red;
}

.selected {
    color: red;
}